<div class="d-flex justify-content-between">
  <div class="small-space-bellow">
    <p-button
      title="No game mode"
      styleClass="p-button-rounded p-button-warning p-button-raised p-button-outlined"
      icon="pi pi-star-fill"
      (onClick)="onNoGameMode()"
      [disabled]="isPlaying"
    ></p-button>
  </div>
  <div class="small-space-bellow">
    <p-button
      title="Inverse columns"
      styleClass="p-button-rounded p-button-warning p-button-raised p-button-outlined"
      icon="pi pi-arrow-right-arrow-left"
      (onClick)="onInterChange()"
      [disabled]="isPlaying || !(isTargetDisplayed$ | async)"
    ></p-button>
  </div>
  <div class="small-space-bellow">
    <p-button
      title="Refresh"
      styleClass="p-button-rounded p-button-warning p-button-raised p-button-outlined"
      icon="pi pi-refresh"
      (onClick)="onRefresh()"
      [disabled]="isPlaying"
    ></p-button>
  </div>
</div>
<app-game-table
  [items]="items"
  [item]="
    currentIndex.number !== undefined ? items[currentIndex.number] : undefined
  "
  [showTarget]="currentIndex.showTarget"
  [isSourceColFirst]="isSourceColFirst"
></app-game-table>
<ng-container
  *ngIf="isFirstProgress; then firstProgressBar; else secondProgressBar"
></ng-container>
<ng-template #firstProgressBar>
  <div class="progressbar">
    <p-progressBar [value]="progress" [showValue]="false"></p-progressBar>
  </div>
</ng-template>
<ng-template #secondProgressBar>
  <div class="progressbar">
    <p-progressBar [value]="progress" [showValue]="false"></p-progressBar>
  </div>
</ng-template>
<div class="d-flex justify-content-between">
  <div class="space-around circle">
    <span class="big">{{ isDataEmpty ? 0 : currentIndex.counter }}</span>
  </div>
  <div class="d-flex justify-content-center">
    <ng-container
      *ngIf="!isPlaying; then is_not_playing; else is_playing"
    ></ng-container>
    <ng-template #is_not_playing>
      <p-button
        title="Play"
        styleClass="p-button-rounded p-button-success p-button-raised"
        icon="pi pi-play"
        class="space-around"
        [disabled]="isDataEmpty"
        (onClick)="onPlay()"
      ></p-button>
    </ng-template>
    <ng-template #is_playing>
      <p-button
        title="Pause"
        styleClass="p-button-rounded p-button-warning p-button-raised"
        icon="pi pi-pause"
        class="space-around"
        (onClick)="onPause()"
      ></p-button>
    </ng-template>
  </div>
  <div style="width: 96px;"></div>
</div>
