<div class="d-flex justify-content-between">
  <div class="small-space-bellow">
    <p-button
      title="No game mode"
      styleClass="p-button-rounded p-button-warning p-button-raised p-button-outlined"
      icon="pi pi-star-fill"
      (onClick)="onNoGameMode()"
    ></p-button>
  </div>
  <div class="small-space-bellow">
    <p-button
      title="Inverse columns"
      styleClass="p-button-rounded p-button-warning p-button-raised p-button-outlined"
      icon="pi pi-arrow-right-arrow-left"
      (onClick)="onInterChange()"
      [disabled]="progress !== 0"
    ></p-button>
  </div>
  <div class="small-space-bellow">
    <p-button
      title="Refresh"
      styleClass="p-button-rounded p-button-warning p-button-raised p-button-outlined"
      icon="pi pi-refresh"
      (onClick)="onRefresh()"
    ></p-button>
  </div>
</div>
<app-game-table
  [items]="items"
  [item]="
    currentIndex.number !== undefined ? items[currentIndex.number] : undefined
  "
  [showTarget]="currentIndex.showTarget"
  [isSourceColFirst]="isSourceColFirst"
></app-game-table>
<ng-container
  *ngIf="isFirstProgress; then firstProgressBar; else secondProgressBar"
></ng-container>
<ng-template #firstProgressBar>
  <div class="progressbar">
    <p-progressBar [value]="progress" [showValue]="false" class="game-progress-bar"></p-progressBar>
  </div>
</ng-template>
<ng-template #secondProgressBar>
  <div class="progressbar">
    <p-progressBar [value]="progress" [showValue]="false" class="game-progress-bar"></p-progressBar>
  </div>
</ng-template>
<div class="d-flex justify-content-between">
  <div class="space-around circle">
    <span class="big">{{ isEnoughData ? currentIndex.counter : 0 }}</span>
  </div>
  <div class="d-flex justify-content-center">
    <p-button
      title="Play"
      styleClass="p-button-rounded p-button-success p-button-raised"
      icon="pi pi-play"
      class="space-around"
      [disabled]="!isEnoughData || isPlaying"
      (onClick)="onPlay()"
    ></p-button>
  </div>
  <div style="width: 96px"></div>
</div>
