<div class="d-flex justify-content-between">
  <div class="flex-container separated-box">
    <div class="settings">
      <ng-container
        *ngIf="isFileUploadVisible && tabs.length === 0; then show_upload; else show_trash"
      ></ng-container>
      <ng-template #show_upload>
        <p-fileUpload
          styleClass="p-button-rounded p-button-raised p-button-outlined"
          mode="basic"
          [maxFileSize]="5000000"
          chooseIcon="pi-file-excel"
          (onSelect)="onUploadData($event.currentFiles[0])"
          [auto]="true"
        >
        </p-fileUpload>
      </ng-template>
      <ng-template #show_trash>
        <p-button
          styleClass="p-button-rounded p-button-danger p-button-raised p-button-outlined"
          icon="pi pi-trash"
          [disabled]="isFileUploadVisible === false"
          (click)="onReset()"
        ></p-button>
      </ng-template>
    </div>
    <div class="flex-container">
      <select
        class="form-select tab"
        (change)="onChangeTab($event.target)"
        [disabled]="tabs.length === 0"
      >
        <option
          [value]=""
          [selected]="tabs.length === 0"
          [hidden]="false"
          [disabled]="tabs.length > 0"
        >
          Tab
        </option>
        <option
          *ngFor="let tab of tabs"
          [value]="tab"
          [label]="tab | titlecase"
        ></option>
      </select>
      <select
        class="form-select priority"
        (change)="onChangePriority($event.target)"
        [disabled]="priorities.length === 0"
      >
        <option
          [value]="0"
          [selected]="priorities.length === 0"
          [hidden]="false"
          [disabled]="priorities.length > 0"
        >
          Priority
        </option>
        <option
          *ngFor="let priority of priorities"
          [value]="priority"
          [label]="priority"
        ></option>
      </select>
    </div>
  </div>
  <div class="flex-container separated-box">
    <i class="pi pi-volume-up" style="font-size: 2rem"></i>
    <div class="sound-checkbox">
      <p-checkbox
        [binary]="true"
        (onChange)="toggleSound($event.checked)"
      ></p-checkbox>
    </div>
  </div>
</div>
