<div class="d-flex justify-content-between">
  <div class="flex-container one-third">
    <div class="settings">
      <ng-container
        *ngIf="showUpload; then show_upload; else show_trash"
      ></ng-container>
      <ng-template #show_upload>
        <p-fileUpload
          styleClass="p-button-rounded p-button-raised p-button-outlined"
          mode="basic"
          [maxFileSize]="5000000"
          chooseIcon="pi-file-excel"
          (onSelect)="onUploadData($event.currentFiles[0])"
          [auto]="true"
        >
        </p-fileUpload>
      </ng-template>
      <ng-template #show_trash>
        <p-button
          styleClass="p-button-rounded p-button-danger p-button-raised p-button-outlined"
          icon="pi pi-trash"
          (click)="onReset()"
        ></p-button>
      </ng-template>
    </div>
    <div class="select flex-container">
      <strong><span class="select">Priorité:</span></strong>
      <select
        class="form-select"
        (change)="onChangePriority($event.target)"
        [disabled]="showUpload"
      >
        <option
          *ngFor="let priority of priorities"
          [value]="priority"
          [label]="priority"
          [selected]="priority === priorities[0]"
        ></option>
      </select>
    </div>
  </div>
  <div class="flex-container one-third d-flex justify-content-center">
    <p-button
      styleClass="p-button-rounded p-button-raised p-button-outlined"
      icon="pi pi-arrow-right-arrow-left"
      (click)="onInterChange()"
      [disabled]="!!(isPlaying$ | async) || !(isSecondWordDisplayed$ | async)"
    ></p-button>
  </div>
  <div class="flex-container one-third">
    <i class="pi pi-volume-up" style="font-size: 2rem"></i>
    <div class="select">
      <p-checkbox
        [binary]="true"
        (onChange)="toggleSound($event.checked)"
      ></p-checkbox>
    </div>
  </div>
</div>
