<app-table
  [item]="
    currentIndex.number !== undefined ? items[currentIndex.number] : undefined
  "
  [showSecondWord]="currentIndex.showSecondWord"
  [isFrenchColFirst]="(isFrenchColFirst$ | async) ?? true"
></app-table>
<div class="d-flex justify-content-between">
  <div class="index-container">
    <app-counter-or-sound
      [isNotEnoughItem]="[0, 1].includes(items.length)"
      [currentIndex]="currentIndex"
      [isPlaying]="isPlaying"
      [position]="'left'"
      (readSpeak)="onReadSpeak($event)"
    ></app-counter-or-sound>
  </div>
  <div class="d-flex justify-content-center">
    <p-button
      styleClass="p-button-rounded p-button-raised p-button-outlined"
      icon="pi pi-step-backward"
      class="space-around"
      [disabled]="
        isPlaying ||
        [0, 1].includes(items.length) ||
        currentIndex.counter === 1 ||
        currentIndex.previousNumber === undefined
      "
      (click)="onPrevious()"
    ></p-button>
    <ng-container
      *ngIf="!isPlaying; then is_not_playing; else is_playing"
    ></ng-container>
    <ng-template #is_not_playing>
      <p-button
        styleClass="p-button-rounded p-button-success p-button-raised p-button-outlined"
        icon="pi pi-play"
        class="space-around"
        [disabled]="[0, 1].includes(items.length)"
        (click)="onPlay()"
      ></p-button>
    </ng-template>
    <ng-template #is_playing>
      <p-button
        styleClass="p-button-rounded p-button-warning p-button-raised p-button-outlined"
        icon="pi pi-pause"
        class="space-around"
        (click)="onPause()"
      ></p-button>
    </ng-template>
    <div class="space-right">
      <select
        class="form-select time-select"
        [(ngModel)]="time"
        [disabled]="isPlaying || [0, 1].includes(items.length)"
      >
        <option
          *ngFor="let time of times"
          [value]="time"
          [label]="time | time"
        ></option>
      </select>
    </div>
    <p-button
      styleClass="p-button-rounded p-button-raised p-button-outlined"
      icon="pi pi-step-forward"
      class="space-around"
      [disabled]="isPlaying || [0, 1].includes(items.length)"
      (click)="onNext()"
    ></p-button>
  </div>
  <div>
    <div class="d-flex justify-content-center">
      <app-counter-or-sound
        [isNotEnoughItem]="[0, 1].includes(items.length)"
        [currentIndex]="currentIndex"
        [isPlaying]="isPlaying"
        [position]="'right'"
        (readSpeak)="onReadSpeak($event)"
      ></app-counter-or-sound>
    </div>
  </div>
</div>
