<div class="d-flex justify-content-between">
  <div class="small-space-bellow">
    <p-button
      title="Game mode"
      styleClass="p-button-rounded p-button-warning p-button-raised p-button-outlined"
      icon="pi pi-star"
      (onClick)="onGameMode()"
      [disabled]="isPlaying"
    ></p-button>
  </div>
  <div class="small-space-bellow">
    <p-button
      title="Inverse columns"
      styleClass="p-button-rounded p-button-warning p-button-raised p-button-outlined"
      icon="pi pi-arrow-right-arrow-left"
      (onClick)="onInterChange()"
      [disabled]="isPlaying || !(isTargetDisplayed$ | async)"
    ></p-button>
  </div>
  <div class="small-space-bellow">
    <p-button
      title="Refresh"
      styleClass="p-button-rounded p-button-warning p-button-raised p-button-outlined"
      icon="pi pi-refresh"
      (onClick)="onRefresh()"
      [disabled]="isPlaying"
    ></p-button>
  </div>
</div>
<app-table
  [item]="
    currentIndex.number !== undefined ? items[currentIndex.number] : undefined
  "
  [showTarget]="currentIndex.showTarget"
  [isSourceColFirst]="isSourceColFirst"
></app-table>
<ng-container
  *ngIf="isFirstProgress; then firstProgressBar; else secondProgressBar"
></ng-container>
<ng-template #firstProgressBar>
  <div class="progressbar">
    <p-progressBar [value]="progress" [showValue]="false"></p-progressBar>
  </div>
</ng-template>
<ng-template #secondProgressBar>
  <div class="progressbar">
    <p-progressBar [value]="progress" [showValue]="false"></p-progressBar>
  </div>
</ng-template>
<div class="d-flex justify-content-between">
  <div class="index-container">
    <app-sound
      [isSourceColFirst]="isSourceColFirst"
      [isDataEmpty]="isDataEmpty"
      [currentIndex]="currentIndex"
      [isPlaying]="isPlaying"
      [position]="'left'"
      (readSpeak)="onReadSpeak($event)"
    ></app-sound>
  </div>
  <div class="d-flex justify-content-center">
    <p-button
      title="Previous"
      styleClass="p-button-rounded p-button-raised p-button-secondary"
      icon="pi pi-step-backward"
      class="space-around"
      [disabled]="
        isPlaying ||
        isDataEmpty ||
        currentIndex.counter === 1 ||
        currentIndex.previousNumber === undefined
      "
      (onClick)="onPrevious()"
    ></p-button>
    <ng-container
      *ngIf="!isPlaying; then is_not_playing; else is_playing"
    ></ng-container>
    <ng-template #is_not_playing>
      <p-button
        title="Play"
        styleClass="p-button-rounded p-button-success p-button-raised"
        icon="pi pi-play"
        class="space-around"
        [disabled]="isDataEmpty"
        (onClick)="onPlay()"
      ></p-button>
    </ng-template>
    <ng-template #is_playing>
      <p-button
        title="Pause"
        styleClass="p-button-rounded p-button-warning p-button-raised"
        icon="pi pi-pause"
        class="space-around"
        (onClick)="onPause()"
      ></p-button>
    </ng-template>
    <div class="space-right">
      <select
        class="form-select time-select"
        [(ngModel)]="time"
        (ngModelChange)="setLocalStorageTime($event)"
        [disabled]="isPlaying || isDataEmpty || !isReadSpeakerActivated"
      >
        <option
          *ngFor="let time of times"
          [value]="time.value"
          [label]="time.label"
        ></option>
      </select>
    </div>
    <p-button
      title="Next"
      styleClass="p-button-rounded p-button-raised p-button-secondary"
      icon="pi pi-step-forward"
      class="space-around"
      [disabled]="isPlaying || isDataEmpty"
      (onClick)="onNext()"
    ></p-button>
  </div>
  <div>
    <div class="d-flex justify-content-center">
      <app-sound
        [isSourceColFirst]="isSourceColFirst"
        [isDataEmpty]="isDataEmpty"
        [currentIndex]="currentIndex"
        [isPlaying]="isPlaying"
        [position]="'right'"
        (readSpeak)="onReadSpeak($event)"
      ></app-sound>
    </div>
  </div>
</div>
