<app-table
  [item]="
    currentIndex.number !== undefined ? items[currentIndex.number] : undefined
  "
  [showSecondWord]="currentIndex.showSecondWord"
  [isFrenchColFirst]="(isFrenchColFirst$ | async) ?? true"
></app-table>
<div class="d-flex justify-content-between">
  <div class="index-container">
    <div class="space-around circle">
      <span class="big">{{ currentIndex.counter }}</span>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <p-button
      styleClass="p-button-rounded p-button-raised"
      icon="pi pi-step-backward"
      class="space-around"
      [disabled]="
        isPlaying ||
        items.length === 0 ||
        currentIndex.counter === 1 ||
        currentIndex.previousNumber === undefined
      "
      (click)="onPrevious()"
    ></p-button>
    <ng-container
      *ngIf="!isPlaying; then is_not_playing; else is_playing"
    ></ng-container>
    <ng-template #is_not_playing>
      <p-button
        styleClass="p-button-rounded p-button-success p-button-raised"
        icon="pi pi-play"
        class="space-around"
        [disabled]="items.length === 0"
        (click)="onPlay()"
      ></p-button>
    </ng-template>
    <ng-template #is_playing>
      <p-button
        styleClass="p-button-rounded p-button-warning p-button-raised"
        icon="pi pi-pause"
        class="space-around"
        (click)="onPause()"
      ></p-button>
    </ng-template>
    <div class="space-right">
      <select
        class="form-select time-select"
        [(ngModel)]="time"
        [disabled]="isPlaying || items.length === 0"
      >
        <option
          *ngFor="let time of times"
          [value]="time"
          [label]="time | time"
        ></option>
      </select>
    </div>
    <p-button
      styleClass="p-button-rounded p-button-raised"
      icon="pi pi-step-forward"
      class="space-around"
      [disabled]="isPlaying || items.length === 0"
      (click)="onNext()"
    ></p-button>
  </div>
  <div>
    <div class="d-flex justify-content-center">
      <p-button
        styleClass="p-button-rounded p-button-raised"
        icon="pi pi-megaphone"
        class="space-around"
        [disabled]="
          isPlaying ||
          items.length === 0 ||
          !currentIndex.number ||
          !currentIndex.showSecondWord ||
          !(isReadSpeakerActivated$ | async)
        "
        (click)="onReadSpeak()"
      ></p-button>
      <!-- <audio *ngIf="openReadSpeaker" controls autoplay hidden>
            <source [src]="audioUrl" type="audio/mpeg" />
          </audio> -->
    </div>
  </div>
</div>
