<div class="card">
  <div class="d-flex justify-content-start">
    <div class="settings">
      <p-button
        *ngIf="data.length > 0 || !isValidData; else loadData"
        styleClass="p-button-rounded p-button-danger p-button-raised"
        icon="pi pi-trash"
        (click)="onReload()"
      ></p-button>
      <ng-template #loadData>
        <p-fileUpload
          styleClass="p-button-rounded p-button-raised"
          mode="basic"
          [maxFileSize]="5000000"
          chooseIcon="pi-file-excel"
          (onSelect)="onUploadData($event.currentFiles[0])"
          [auto]="true"
          [disabled]="data.length > 0"
        >
        </p-fileUpload>
      </ng-template>
    </div>
    <div class="settings priority-container">
      <strong><span class="select">Priorité:</span></strong>
      <select
        class="form-select"
        [(ngModel)]="priority"
        (ngModelChange)="onChangePriority($event)"
        [disabled]="data.length === 0 || !isValidData"
      >
        <option
          *ngFor="let priority of priorities"
          [value]="priority"
          [label]="priority"
        ></option>
      </select>
    </div>
  </div>

  <div class="big more-space-around">
    <app-table-default
      [data]="data"
      [currentItem]="currentItem"
      [firstNext]="firstNext"
      (onAction)="action($event)"
    >
    </app-table-default>

    <div class="d-flex justify-content-between">
      <div class="counter-container">
        <div class="space-around circle">
          <span class="big">{{ counter }}</span>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <p-button
          styleClass="p-button-rounded p-button-success p-button-raised"
          icon="pi pi-play"
          class="space-around"
          *ngIf="!isPlaying; else is_playing"
          [disabled]="!currentItem"
          (click)="onPlay()"
        ></p-button>
        <ng-template #is_playing>
          <p-button
            styleClass="p-button-rounded p-button-danger p-button-raised"
            icon="pi pi-stop"
            class="space-around"
            [disabled]="!currentItem"
            (click)="onStop()"
          ></p-button>
        </ng-template>
        <div>
          <select
            class="form-select time-select"
            [(ngModel)]="time"
            (ngModelChange)="onChangeTime()"
          >
            <option
              *ngFor="let time of times"
              [value]="time"
              [label]="time | time"
            ></option>
          </select>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-center">
          <p-button
            styleClass="p-button-rounded p-button-raised"
            icon="pi pi-volume-up"
            class="space-around"
            [disabled]="!isPrevious || isPlaying"
            (click)="onReadSpeak()"
          ></p-button>
          <!-- <audio *ngIf="openReadSpeaker" controls autoplay hidden>
            <source [src]="audioUrl" type="audio/mpeg" />
          </audio> -->
        </div>
      </div>
    </div>
  </div>
</div>
<app-list [data]="data" [priority]="priority"></app-list>
