<table>
  <tr>
    <th scope="col">
      <div class="center-text">Français</div>
    </th>
    <th scope="col">
      <div class="center-text">Traduction</div>
    </th>
  </tr>
  <tr>
    <td>
      <div class="arial biggest center-text">
        <span>
          {{ item?.french ?? '' }} </span
        >&nbsp;
      </div>
    </td>
    <td>
      <div class="arial biggest center-text">
        <span *ngIf="showTranslation">
          {{ item?.word ?? '' }}
        </span>
      </div>
    </td>
  </tr>
</table>
