<table>
  <tr>
    <th scope="col">
      <div class="center-text">
        {{
          (isSourceColFirst ? item?.source_language : item?.target_language)
            | translateLang
        }}
      </div>
    </th>
    <th scope="col">
      <div class="center-text">
        {{
          (isSourceColFirst ? item?.target_language : item?.source_language)
            | translateLang
        }}
      </div>
    </th>
  </tr>
  <tr>
    <ng-container
      *ngIf="isSourceColFirst; then frenchFirst; else translationFirst"
    ></ng-container>
    <ng-template #frenchFirst>
      <td>
        <div class="arial biggest center-text">
          <span *ngIf="!!item"> {{ item.source }} </span>
        </div>
      </td>
      <td>
        <div class="arial biggest center-text">
          <span
            *ngIf="showTarget && !!item"
            [innerHTML]="
              (item.target | kuroshiro : item.target_language | async) ||
              item.target
            "
          >
          </span>
        </div>
      </td>
    </ng-template>
    <ng-template #translationFirst>
      <td>
        <div class="arial biggest center-text">
          <span
            *ngIf="!!item"
            [innerHTML]="
              (item.target | kuroshiro : item.target_language | async) ||
              item.target
            "
          >
          </span>
        </div>
      </td>
      <td>
        <div class="arial biggest center-text">
          <span *ngIf="showTarget && !!item"> {{ item.source }} </span>
        </div>
      </td>
    </ng-template>
  </tr>
</table>
