<table>
  <tr>
    <th scope="col">
      <div *ngIf="!!item" class="center-text">
        <img
          [src]="
            'assets/flags/' +
            ((isSourceColFirst ? item.source_language : item.target_language)
              | lowercase) +
            '.png'
          "
        />
        {{
          (isSourceColFirst ? item.source_language : item.target_language)
            | translateLang
        }}
      </div>
    </th>
    <th scope="col">
      <div *ngIf="!!item" class="center-text">
        <img
          [src]="
            'assets/flags/' +
            ((isSourceColFirst ? item.target_language : item.source_language)
              | lowercase) +
            '.png'
          "
        />
        {{
          (isSourceColFirst ? item.target_language : item.source_language)
            | translateLang
        }}
      </div>
    </th>
  </tr>
  <tr>
    <ng-container
      *ngIf="isSourceColFirst; then frenchFirst; else translationFirst"
    ></ng-container>
    <ng-template #frenchFirst>
      <td>
        <div class="arial biggest center-text">
          <span *ngIf="!!item"> {{ item.source }} </span>
        </div>
      </td>
      <td>
        <div class="arial biggest center-text">
          <span
            *ngIf="showTarget && !!item"
            [innerHTML]="item.target | safeHtml : (japaneseWords$ | async)"
          >
          </span>
        </div>
      </td>
    </ng-template>
    <ng-template #translationFirst>
      <td>
        <div class="arial biggest center-text">
          <span
            *ngIf="!!item"
            [innerHTML]="item.target | safeHtml : (japaneseWords$ | async)"
          >
          </span>
        </div>
      </td>
      <td>
        <div class="arial biggest center-text">
          <span *ngIf="showTarget && !!item"> {{ item.source }} </span>
        </div>
      </td>
    </ng-template>
  </tr>
</table>
