<div class="mx-5 main-page">
  <div class="card component">
    <app-settings
      [tabs]="file$ | async | get : 'tabs'"
      [priorities]="file$ | async | get : 'priorities' : tab"
      (tab)="onTab($event)"
      (priority)="onPriority($event)"
    ></app-settings>
  </div>
  <div class="card">
    <div class="big more-space-around">
      <app-interactive-table
        [items]="file$ | async | filter : tab : priority"
      ></app-interactive-table>
    </div>
  </div>
  <div class="card component">
    <app-table-list
      [items]="file$ | async | filter : tab : priority"
    ></app-table-list>
  </div>
  <p-toast></p-toast>
  <p-confirmDialog
    position="top"
    header="Confirmation"
    message="Remove file ?"
    icon="pi pi-trash"
    acceptButtonStyleClass="p-button-rounded p-button-outlined p-button-raised"
    rejectButtonStyleClass="p-button-rounded p-button-outlined p-button-raised"
  ></p-confirmDialog>
</div>
