<div class="mx-5">
  <div class="card first">
    <app-settings
      [tabs]="file$ | async | get : 'tabs'"
      [tags]="file$ | async | get : 'tags' : tab"
      (tab)="onTab($event)"
      (tag)="onTag($event)"
    ></app-settings>
  </div>
  <div class="card">
    <div class="big more-space-around">
      <app-interactive-table></app-interactive-table>
    </div>
  </div>
  <div class="card last">
    <app-table-list
      [data]="{ tab, tag, items: file$ | async | filter : tab : tag }"
    ></app-table-list>
  </div>
  <p-toast></p-toast>
  <p-confirmDialog
    header="Confirmation"
    position="top"
    acceptButtonStyleClass="p-button-rounded p-button-outlined p-button-raised"
    rejectButtonStyleClass="p-button-rounded p-button-outlined p-button-raised"
  ></p-confirmDialog>
</div>
