<table>
  <thead>
    <tr>
      <th scope="col">
        <div class="center-text">
          <img *ngIf="!!item" [src]="(isSourceColFirst ? item.source_language : item.target_language) | lowercase | flagUrl"/>
          {{ (isSourceColFirst ? item?.source_language ?? "Source" : item?.target_language ?? "Target" ) | translateLang }}
        </div>
      </th>
      <th scope="col">
        <div class="center-text">
          <img *ngIf="!!item" [src]="(isSourceColFirst ? item.target_language : item.source_language) | lowercase | flagUrl"/>
          {{ (isSourceColFirst ? item?.target_language ?? "Target" : item?.source_language ?? "Source") | translateLang }}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="game-mode">
      <td #td>
        <div class="arial biggest center-text">
          <ng-container *ngIf="isSourceColFirst; then sourceFirstQuestion; else targetFirstQuestion"></ng-container>
          <ng-template #sourceFirstQuestion>
            <span class="game-question">{{ item?.source ?? '' }}</span>
          </ng-template>
          <ng-template #targetFirstQuestion>
            <span class="game-question" [innerHTML]="(item?.target ?? '') | safeHtml : (japaneseWords$ | async)"></span>
          </ng-template>
        </div>
        <div #timerWrapper class="timer-wrapper">
          <div #timer class="timer"></div>
        </div>
      </td>
      <td>
        <div class="arial biggest center-text" *ngFor="let gameItem of gameList">
          <ng-container *ngIf="isSourceColFirst; then sourceFirstAnswer; else targetFirstAnswer"></ng-container>
          <ng-template #sourceFirstAnswer>
            <div class="game-select" *ngIf="showTarget" (click)="onSelect(gameItem)" [innerHTML]="gameItem.target | safeHtml : (japaneseWords$ | async)"></div>
          </ng-template>
          <ng-template #targetFirstAnswer>
            <div class="game-select" *ngIf="showTarget" (click)="onSelect(gameItem)">{{ gameItem.source }}</div>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</table>
