<div class="d-flex justify-content-between">
  <div class="table-list-info d-flex justify-content-left align-items-end">
    <span *ngIf="items.length > 0"
      >{{ itemsSelectedNumber }} item{{
        itemsSelectedNumber > 1 ? "s" : ""
      }}
      selected</span
    >
  </div>
  <div class="small-space-bellow">
    <p-button
      [title]="showList ? 'Hide list' : 'Show list'"
      [styleClass]="
        'p-button-rounded p-button-warning p-button-raised p-button-outlined ' +
        (showList ? 'p-button-danger' : 'p-button-primary')
      "
      [icon]="showList ? 'pi pi-times' : 'pi pi-arrow-down'"
      (onClick)="toggleList()"
      [disabled]="items.length === 0"
    ></p-button>
  </div>
  <div class="table-list-info"></div>
</div>
<table class="table-list-container">
  <thead>
    <tr>
      <th>
        <p-checkbox
          title="Select all items"
          class="d-flex justify-content-center align-items-center"
          [disabled]="!showList || items.length === 0"
          [binary]="true"
          [ngModel]="globalActive"
          (onChange)="toggleGlobalActive($event.checked)"
        ></p-checkbox>
      </th>
      <th scope="col">
        <div class="center-text">
          {{ (isSourceColFirst$ | async) ?? true ? "Source" : "Target" }}
        </div>
      </th>
      <th scope="col">
        <div class="center-text">
          {{ (isSourceColFirst$ | async) ?? true ? "Target" : "Source" }}
        </div>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="showList && items.length > 0">
    <tr *ngFor="let item of items">
      <td>
        <p-checkbox
          title="Select item"
          class="d-flex justify-content-center align-items-center"
          [binary]="true"
          [(ngModel)]="item.active"
          (onChange)="toggleActive()"
        ></p-checkbox>
      </td>
      <td>
        <div class="arial center-text flex-container">
          <div
            class="target"
            [innerHTML]="
              ((isSourceColFirst$ | async) ?? true ? item.source : item.target)
                | safeHtml : (japaneseWords$ | async)
            "
          ></div>
          <div class="target-sound">
            <p-button
              title="Listen"
              *ngIf="!(isSourceColFirst$ | async) ?? false"
              styleClass="p-button-rounded p-button-raised"
              icon="pi pi-volume-up"
              [disabled]="(isPlaying$ | async) ?? false"
              (onClick)="onReadSpeak(item)"
            ></p-button>
          </div>
        </div>
      </td>
      <td>
        <div class="arial center-text flex-container">
          <div
            class="target"
            [innerHTML]="
              ((isSourceColFirst$ | async) ?? true ? item.target : item.source)
                | safeHtml : (japaneseWords$ | async)
            "
          ></div>
          <div class="target-sound">
            <p-button
              title="Listen"
              *ngIf="(isSourceColFirst$ | async) ?? true"
              styleClass="p-button-rounded p-button-raised"
              icon="pi pi-volume-up"
              [disabled]="(isPlaying$ | async) ?? false"
              (onClick)="onReadSpeak(item)"
            ></p-button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
