<table>
  <tr class="toggle-list" (click)="toggleList()">
    <th scope="col">
      <div class="center-text">
        {{ (isSourceColFirst$ | async) ?? true ? "Source" : "Target" }}
      </div>
    </th>
    <th scope="col">
      <div class="center-text">
        {{ (isSourceColFirst$ | async) ?? true ? "Target" : "Source" }}
      </div>
    </th>
  </tr>
  <ng-container *ngIf="showList && items.length > 0 && items[0].priority !== 0">
    <tr *ngFor="let item of items" class="list">
      <td>
        <div class="arial center-text">
          <span>
            {{ (isSourceColFirst$ | async) ?? true ? item.source : item.target }}
          </span>
        </div>
      </td>
      <td>
        <div class="arial center-text">
          <span>
            {{ (isSourceColFirst$ | async) ?? true ? item.target : item.source }}
          </span>
        </div>
      </td>
    </tr>
  </ng-container>
</table>
