<table>
  <tr class="toggle-list" (click)="toggleList()">
    <th scope="col">
      <div class="center-text">
        {{ (isFrenchColFirst$ | async) ?? true ? "Français" : "Traduction" }}
      </div>
    </th>
    <th scope="col">
      <div class="center-text">
        {{ (isFrenchColFirst$ | async) ?? true ? "Traduction" : "Français" }}
      </div>
    </th>
  </tr>
  <ng-container *ngIf="showList && items.length > 0">
    <tr *ngFor="let word of items" class="list">
      <td>
        <div class="arial center-text">
          <span>
            {{ (isFrenchColFirst$ | async) ?? true ? word.french : word.word }}
          </span>
        </div>
      </td>
      <td>
        <div class="arial center-text">
          <span>
            {{ (isFrenchColFirst$ | async) ?? true ? word.word : word.french }}
          </span>
        </div>
      </td>
    </tr>
  </ng-container>
</table>
