<table>
    <tr>
        <th scope="col">
            <div class="center-text">Français</div>
        </th>
        <th scope="col">
            <div class="center-text">Traduction</div>
        </th>
    </tr>
    <tr>
        <td (click)="previous()" class="clickable">
            <div class="arial biggest center-text">
                <span *ngIf="data.length > 0 && !!currentItem">
                    {{ currentItem.french }}
                </span>&nbsp;
            </div>
        </td>
        <td (click)="next()" class="clickable">
            <div class="arial biggest center-text">
                <span *ngIf="data.length > 0 && !!currentItem
                            && firstNext">
                    {{ currentItem.word }}
                </span>
            </div>
        </td>
    </tr>
</table>
