<ng-container
  *ngIf="
    position === (isSourceColFirst ? 'left' : 'right');
    then display_counter;
    else display_sound_button
  "
></ng-container>
<ng-template #display_counter>
  <div class="space-around circle">
    <span class="big">{{ isDataEmpty ? 0 : currentIndex.counter }}</span>
  </div>
</ng-template>
<ng-template #display_sound_button>
  <div class="space-around">
    <p-button
      styleClass="p-button-rounded p-button-raised"
      icon="pi pi-volume-up"
      [disabled]="
        isPlaying ||
        isDataEmpty ||
        currentIndex.number === undefined ||
        !isReadSpeakerActivated ||
        (isSourceColFirst && !currentIndex.showTarget)
      "
      (click)="onReadSpeak()"
    ></p-button>
  </div>
</ng-template>
