@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
  background-color: rgb(30, 30, 30);
  color: white;
  @media (min-width: 1000px) {
    padding: 0 5%;
  }
  @media (min-width: 1051px) and (max-width: 1200px) {
    padding: 0 7%;
  }
  @media (min-width: 1201px) and (max-width: 1400px) {
    padding: 0 10%;
  }
  @media (min-width: 1401px) {
    padding: 0 12%;
  }
  @media (min-width: 1601px) {
    padding: 0 14%;
  }
}

.mx-5 {
  margin-bottom: 50px;
}

.flags {
  margin-top: 20px;
  text-align: right;
  img {
    margin-left: 7px;
    height: 22px;
  }
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}
th:not(:last-child) {
  border-right: 1px solid rgb(60, 60, 60);
}
th:last-child {
  width: 50%;
}
td:not(:last-child) {
  border-right: 1px solid rgb(120, 120, 120);
}
td {
  overflow: auto;
}
thead tr {
  background-color: rgb(100, 100, 100);
  font-size: x-large;
  height: 50px;
}
tbody {
  tr {
    height: 150px;
    &.game-mode {
      height: 300px;
    }
  }
  tr:nth-child(even) {
    background-color: rgb(40, 40, 40);
  }
  tr:nth-child(odd) {
    background-color: rgb(30, 30, 30);
  }
}

table.table-list-container {
  th:first-child {
    width: 50px;
  }
  thead,
  tbody tr {
    font-size: x-large;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  tbody {
    transition: max-height 0.5s ease-in-out;
    display: block;
    @media (max-width: 1500px) {
      max-height: 900px;
    }
    @media (min-width: 1501px) {
      max-height: 600px;
    }
    overflow: auto;
    tr {
      height: 60px;
    }
    td:first-child {
      width: 50px;
    }
    td:last-child {
      width: 50%;
    }
    td:not(:first-child) {
      @media (min-width: 1500px) {
        border-right: 0px;
      }
    }
  }
  tbody.listClosed {
    max-height: 0;
  }
}

.game-question {
  position: absolute;
  width: 40%;
  transform: translate(-50%, -50%);
}

.game-select {
  margin: 30px 0;
  cursor: pointer;
}

.success {
  color: #1fed6b;
}
.failure {
  color: rgb(255, 75, 75);
}

.timer-wrapper {
  float: right;
}
.timer {
  height: 3px;
  background-color: #16a34a;
}

.center-text {
  text-align: center;
}

.target {
  width: 100%;
  padding-left: 68px;
}
.target-sound {
  width: 48px;
  margin-right: 20px;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.form-select {
  background-color: rgb(110, 110, 110);
  color: white;
}
.form-select.settings {
  margin-left: 20px;
  width: 200px;
}
.form-select.time-select {
  margin-top: 1.5em;
  height: 50px;
  width: 70px;
}

.form-select:disabled {
  color: rgb(190, 190, 190);
  background-color: rgb(100, 100, 100);
  border-color: rgb(190, 190, 190);
}

.card {
  background-color: rgb(60, 60, 60);
}
.card.first {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 1em 4em 2em 4em;
}
.card.last {
  margin: 30px 0;
  padding: 2em 4em 3em 4em;
}

.big {
  font-size: x-large;
}
.biggest {
  font-size: xx-large;
}

.space-around {
  margin: 1em;
}
.space-right {
  margin-right: 1em;
}
.more-space-around {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
}
.small-space-bellow {
  margin-bottom: 1em;
}

.index-container {
  width: 100px;
}

div.circle {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: rgb(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.account {
  margin-top: 5px;
  margin-left: calc(50% - 24px);
}
.login {
  font-size: x-large;
  margin-left: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.toggle-sound {
  font-size: 2rem;
  margin-left: 20px;
}

.sound-checkbox {
  margin: 0 10px;
}

.settings {
  margin-left: 30px;
}

.progressbar {
  padding: 0 10px;
}
.p-progressbar {
  background: transparent;
  height: 3px;
  .p-progressbar-value {
    background: #f59e0b;
  }
}

.p-dialog {
  @media (max-width: 1000px) {
    width: 80vw;
  }
  @media (min-width: 1001px) and (max-width: 1200px) {
    width: 70vw;
  }
  @media (min-width: 1201px) and (max-width: 1600px) {
    width: 60vw;
  }
  @media (min-width: 1601px) {
    width: 50vw;
  }
  .p-dialog-header,
  .p-dialog-content {
    color: white;
    background-color: #495057;
    border-color: #495057;
    border-width: 10px;
  }
}

.p-confirm-dialog {
  width: 50vw;
  .p-dialog-header,
  .p-dialog-content,
  .p-dialog-footer {
    color: white;
    background-color: #495057;
    border-color: #495057;
    border-width: 10px;
  }
  .p-dialog-footer {
    .p-confirm-dialog-reject,
    .p-confirm-dialog-accept {
      color: white;
      border-color: white;
    }
    .p-confirm-dialog-reject:hover,
    .p-confirm-dialog-accept:hover {
      color: white;
      border-color: white;
    }
    .p-confirm-dialog-reject {
      margin-right: 30px;
    }
  }
}

.center-text > img {
  height: 30px;
  padding-right: 10px;
  padding-bottom: 3px;
}

.form-group {
  margin: 2em 0;
}

.account-form {
  width: 50%;
  padding: 0 10%;
  span {
    font-size: larger;
  }
}

.sign-in {
  border-right: 1px solid white;
}

.table-list-info {
  width: 200px;
  padding-left: 5px;
}

hr {
  margin: 20px 0;
}
