<p-card>
    <div class="summary">
        <div *ngIf="[0, 1].includes(tabIndex)" class="summary-item">
            <app-info-content [service]="nounsService">
            </app-info-content>
        </div>
        <div *ngIf="[0, 2].includes(tabIndex)" class="summary-item">
            <app-info-content [service]="verbsService">
            </app-info-content>
        </div>
        <div *ngIf="[0, 3].includes(tabIndex)" class="summary-item">
            <app-info-content [service]="adverbsService">
            </app-info-content>
        </div>
        <div *ngIf="[0, 4].includes(tabIndex)" class="summary-item">
            <app-info-content [service]="adjectivesService">
            </app-info-content>
        </div>
        <div *ngIf="[0, 5].includes(tabIndex)" class="summary-item">
            <app-info-content [service]="conjunctionsService">
            </app-info-content>
        </div>
        <div *ngIf="[0, 6].includes(tabIndex)" class="summary-item">
            <app-info-content [service]="phrasesService">
            </app-info-content>
        </div>
    </div>
</p-card>